/vendor/
/application/logs/*
!/application/logs/index.html
/application/cache/*
!/application/cache/index.html
.DS_Store
Thumbs.db
*.log
/docs/Dowload BOM.XLSX
/docs/~$*
/application/config/wip_api_local.php
